#nav-top {
	background-color: black !important;
	z-index: 1;
}

nav a {
	color: white;
}

body {
	background-color: #F2F2F2
}

img {
	width: 100%;
}
.row_div {
    background-color: white;
    margin: 10px;
}
.wrapper {
    width: 100%;
}

#book-row-container {
    height: 680px;
}
.book-card {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 10px 100px lightgrey;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100%;
}
.col-md-4 {
	margin-bottom: 10px;
}

.carousel-indicators {
	bottom: -30px !important;
	background: lightgrey;
	margin-left: auto !important;
	margin-right: auto !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 50px !important;
	height: 50px !important;
}
.book-card:hover {
	box-shadow: 0px 0px 0px;
	cursor: pointer
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



.rel-books-wrapper {
	background-color: #F2F2F2;
	padding: 10px;
	border-radius: 30px;
}
