<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Local CSS -->
    <link type="text/css" rel="stylesheet" href="./../static/css/index.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <title>Junglebooks - about</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg" id="nav-top">
        <a class="navbar-brand" href="{{url_for('index')}}">Junglebooks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('index')}}"> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('statistics')}}">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('models')}}">Models</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" id = 'form'>
                <input class="form-control mr-sm-2" type="search" placeholder="Search for a book" aria-label="Search" id="text-query" value="">
                <button class="btn btn-outline-success my-2 my-sm-0" id="search-btn" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <div class="container">
        <div class="main content" id="about">
            <h1 class="main content">About</h1>
            <h3> Team: Group #20 </h3>
        </div>
        <div class="row" style="text-align: center">
            <div class="col-md-6">
                <img src="./../static/Images/dog1.jpg" alt="Jose" style="width:70%">
                <h3>Jose Rosales</h3>
                <h5 class="main content">Economics</h5>
                <p>Worked on Backend, Frontend and Deployment </p>
            </div>
            <div class="col-md-4">
                <img src="./../static/Images/dog3.jpeg" alt="Mustapha" style="width:70%">
                <h3>Mustapha Jolaade</h3>
                <h5 class="main content">Petroleum Engineering</h5>
                <p>Worked on both Backend and Frontend</p>
            </div>
        </div>
        <div class="row" style="text-align: center">
            <div class="col-md-6">
                <img src="./../static/Images/dog2.jpg" alt="Miguel" style="width:70%">
                <h3>Miguel Arriaga</h3>
                <h5 class="main content">Linguistics and Elements of Computing</h5>
                <p>Worked on both Backend and Frontend</p>
            </div>
            <div class="col-md-6">
                <img src="./../static/Images/dog6.jpg" alt="Sommer" style="width:50%">
                <h3>Sommer Chavez</h3>
                <h5 class="main content">Linguistics and Elements of Computing</h5>
                <p>Worked on both Backend and Frontend</p>
            </div>
        </div>

        <br>
        <br>

        <h2>Statistics</h2>

        <table class="table table-hover sortable">
            <thead>
                <th>Name</th>
                <th>Commits</th>
                <th>Issues</th>
            </thead>
            <tbody>
                <tr>
                    <td>Jose Rosales</td>
                    <td>11</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>Miguel Arriaga</td>
                    <td>30</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Mustapha Jolaade</td>
                    <td>11</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>Sommer Chavez</td>
                    <td>9</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>61</td>
                    <td>32</td>
                </tr>
            </tbody>
        </table>

        <br>
        <br>
        <h2>Data</h2>
        <a style="color: blue!important" href="http://www.cs.utexas.edu/~fares/cs329es19/CS%20373_files/tutorials/books.json">Data Sources</a>

        <br>
        <br>
        <h2>Tools</h2>
        <h6> Bootstrap </h6>
        <h6> Flask </h6>
        <h6> GitLab </h6>
        <h6> Google Cloud Platform (GCP) </h6>
        <h6> Slack </h6>
        <h6> GitLab CI </h6>
        <h6> Brackets </h6>



        <!-- Optional JavaScript -->
        <script type="text/javascript" src="./../static/Javascript/index.js"></script>
        <script src="../static/Javascript/sorttable.js"></script>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
