<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Local CSS -->
        <link type="text/css" rel="stylesheet" href="./../static/css/index.css">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <title>Junglebooks - search</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg" id="nav-top">
            <a class="navbar-brand" href="{{url_for('index')}}">Junglebooks</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('index')}}"> <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('statistics')}}">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('models')}}">Models</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" id = 'form'>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search for a book" aria-label="Search" id="text-query" value="">
                    <button class="btn btn-outline-success my-2 my-sm-0" id="search-btn" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container">
            <h4>Search Results</h4>
            {% if results == [] %}
                <p>No results. Try again.</p>
            {% endif %}

            {% for item in results %}
                <div class="h5">
                    <a href="{{request.url_root}}books/{{item.title}}" style="font-family: 'Roboto',arial,sans-serif;">{{item.title}}</a>
                    <p>{{item.description[0:100]}}...</p>
                </div>
            {% endfor %}
        </div>

            <!-- Optional JavaScript -->
            <script type="text/javascript" src="./../static/Javascript/index.js"></script>
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="../static/Javascript/sorttable.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    </body>
</html>
